{%- capture display_class -%}
    {% if display_by == 'full-info' %}flex items-center{% else %}relative py-2{% endif %}
{%- endcapture -%}
{%- capture icon_class -%}
    {% if request.path != '/cart' %}sf-cart-icon{% endif %}
{%- endcapture -%}

<a
    href="{{ routes.cart_url }}"
    class="{{ display_class | strip }} {{ icon_class | strip }} px-2 whitespace-nowrap cursor-pointer cart-icon"
    style="{% if display_by == 'text' %} margin-right: 0; {% endif %}"
>
    {% if display_by == 'full-info' %}
        <div
            class="relative rounded-full border border-color-border px-3 flex items-center justify-center"
            style="width: 48px; height: 48px;"
        >
            <span class="sf__tooltip-item block sf__tooltip-bottom sf__tooltip-style-2">
              <svg class="w-[20px] h-[20px]" fill="currentColor" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">  <path d="M408.037 92.4226H97.1502L72.2009 47.7024C67.9729 40.1238 59.9743 35.427 51.296 35.427H17.0987C3.878 35.427 -6.83948 46.1445 -6.83948 59.3652C-6.83948 72.5858 3.878 83.3033 17.0987 83.3033H37.2395L61.6951 127.139L122.814 262.371L122.877 262.509L126.389 270.281L68.03 332.531C61.8409 339.132 59.9035 348.66 63.0228 357.155C66.1422 365.649 73.785 371.659 82.7757 372.686L138.817 379.091C209.43 387.161 280.733 387.161 351.346 379.091L407.387 372.686C420.523 371.185 429.954 359.32 428.453 346.185C426.951 333.05 415.086 323.618 401.951 325.12L345.91 331.524C278.909 339.182 211.254 339.182 144.253 331.524L135.533 330.528L170.298 293.446L183.859 295.21C208.381 298.401 233.169 299.027 257.82 297.077C316.032 292.473 369.983 264.773 407.649 220.152L420.828 204.539C421.448 203.805 422.023 203.034 422.549 202.231L447.112 164.8C467.506 133.72 445.211 92.4226 408.037 92.4226ZM169.733 245.092C168.299 244.906 167.062 243.996 166.456 242.686L166.453 242.679L166.441 242.653L166.432 242.632L120.182 140.299H405.925L383.313 174.759L371.064 189.27C341.646 224.12 299.51 245.754 254.045 249.35C232.711 251.037 211.259 250.496 190.037 247.734L169.733 245.092ZM119.691 394.499C97.0268 394.499 78.654 412.872 78.654 435.536C78.654 458.2 97.0268 476.573 119.691 476.573C142.355 476.573 160.728 458.2 160.728 435.536C160.728 412.872 142.355 394.499 119.691 394.499ZM370.471 394.499C347.807 394.499 329.435 412.872 329.435 435.536C329.435 458.2 347.807 476.573 370.471 476.573C393.135 476.573 411.508 458.2 411.508 435.536C411.508 412.872 393.135 394.499 370.471 394.499Z"/></svg>
                <span class="sf__tooltip-content">{{ 'layout.cart.title' | t }}</span>
            </span>
            <sup class="sf-cart-count font-medium">{{ cart.item_count }}</sup>
        </div>
        <div class="ml-4">
            <p class="font-medium">{{ 'cart.general.title' | t }}</p>
            <p>{{ cart.total_price | money }}</p>
        </div>

        {% style %}
            .sf-cart-count {
                top: -0.25rem;
                right: -0.375rem;
            }
        {% endstyle %}
    {% elsif display_by == 'text' %}
        {{ 'layout.cart.title' | t }}
        <span class="sf-cart-count font-medium">{{ cart.item_count }}</span>
    {% else %}
        <span class="sf__tooltip-item block sf__tooltip-bottom sf__tooltip-style-2">
              <svg class="w-[20px] h-[20px]" fill="currentColor" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">  <path d="M408.037 92.4226H97.1502L72.2009 47.7024C67.9729 40.1238 59.9743 35.427 51.296 35.427H17.0987C3.878 35.427 -6.83948 46.1445 -6.83948 59.3652C-6.83948 72.5858 3.878 83.3033 17.0987 83.3033H37.2395L61.6951 127.139L122.814 262.371L122.877 262.509L126.389 270.281L68.03 332.531C61.8409 339.132 59.9035 348.66 63.0228 357.155C66.1422 365.649 73.785 371.659 82.7757 372.686L138.817 379.091C209.43 387.161 280.733 387.161 351.346 379.091L407.387 372.686C420.523 371.185 429.954 359.32 428.453 346.185C426.951 333.05 415.086 323.618 401.951 325.12L345.91 331.524C278.909 339.182 211.254 339.182 144.253 331.524L135.533 330.528L170.298 293.446L183.859 295.21C208.381 298.401 233.169 299.027 257.82 297.077C316.032 292.473 369.983 264.773 407.649 220.152L420.828 204.539C421.448 203.805 422.023 203.034 422.549 202.231L447.112 164.8C467.506 133.72 445.211 92.4226 408.037 92.4226ZM169.733 245.092C168.299 244.906 167.062 243.996 166.456 242.686L166.453 242.679L166.441 242.653L166.432 242.632L120.182 140.299H405.925L383.313 174.759L371.064 189.27C341.646 224.12 299.51 245.754 254.045 249.35C232.711 251.037 211.259 250.496 190.037 247.734L169.733 245.092ZM119.691 394.499C97.0268 394.499 78.654 412.872 78.654 435.536C78.654 458.2 97.0268 476.573 119.691 476.573C142.355 476.573 160.728 458.2 160.728 435.536C160.728 412.872 142.355 394.499 119.691 394.499ZM370.471 394.499C347.807 394.499 329.435 412.872 329.435 435.536C329.435 458.2 347.807 476.573 370.471 476.573C393.135 476.573 411.508 458.2 411.508 435.536C411.508 412.872 393.135 394.499 370.471 394.499Z"/></svg>
            <span class="sf__tooltip-content">{{ 'layout.cart.title' | t }}</span>
        </span>
        <span class="sf-cart-count font-medium">{{ cart.item_count }}</span>
    {% endif %}
</a>
