{% if shop.customer_accounts_enabled or shop.customer_accounts_optional %}
    {% if display_by == 'icon' %}
        <a href="{{ routes.account_url }}" class="{{ box_size | default: 'px-2 py-3.5' }}">
            <span class="sf__tooltip-item block sf__tooltip-bottom sf__tooltip-style-2">
                <svg class="w-[20px] h-[20px]" fill="currentColor" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M125.175 83.4131C190.722 73.9942 257.278 73.9942 322.825 83.4131C337.889 85.5777 349.494 97.8031 350.873 112.959L353.86 145.796C360.53 219.114 360.53 292.886 353.86 366.203L350.873 399.041C349.494 414.197 337.889 426.422 322.825 428.587C257.278 438.006 190.722 438.006 125.175 428.587C110.112 426.422 98.5059 414.197 97.1273 399.041L94.1401 366.204C87.4705 292.886 87.4705 219.114 94.1401 145.796L97.1273 112.959C98.5059 97.8032 110.112 85.5777 125.175 83.4131ZM329.853 34.5083C259.645 24.4196 188.355 24.4196 118.148 34.5083C80.4326 39.9278 51.3751 70.5372 47.9232 108.483L44.9361 141.32C37.9956 217.616 37.9956 294.384 44.9361 370.68L47.9232 403.517C51.3751 441.463 80.4326 472.072 118.147 477.492C188.355 487.58 259.645 487.58 329.853 477.492C367.568 472.072 396.625 441.463 400.077 403.517L403.064 370.679C410.005 294.384 410.005 217.616 403.064 141.32L400.077 108.483C396.625 70.5371 367.568 39.9278 329.853 34.5083ZM224 131.306C194.114 131.306 169.887 155.533 169.887 185.418C169.887 215.304 194.114 239.531 224 239.531C253.885 239.531 278.113 215.304 278.113 185.418C278.113 155.533 253.885 131.306 224 131.306ZM200.473 260.705C157.593 260.705 122.833 295.466 122.833 338.345C122.833 355.237 136.526 368.931 153.418 368.931H294.582C311.473 368.931 325.167 355.237 325.167 338.345C325.167 295.466 290.406 260.705 247.527 260.705H200.473ZM124.171 76.4267C124.171 76.4267 124.171 76.4267 124.171 76.4267C124.028 76.4473 123.885 76.4686 123.743 76.4906C123.885 76.4686 124.028 76.4473 124.171 76.4267Z"/></svg>
                <span class="sf__tooltip-content">{{ 'layout.customer.account' | t }}</span>
            </span>
        </a>
    {% else %}
        <a href="{{ routes.account_url }}" class="{{ box_size }} px-4 py-5">
            {{ 'layout.customer.account' | t }}
        </a>
    {% endif %}
{% endif %}
