{% liquid
  if settings.wishlist_page != blank
    assign url = pages[settings.wishlist_page].url
  else
    assign url = '/pages/wishlist'
  endif

  assign wishlist_app = settings.wishlist_app
%}

{% if wishlist_app == 'growave' %}
  {% if shop.customer_accounts_enabled %}
    {% liquid
      assign ssw_fave_enabled = 1
      if shop.metafields.ssw['fave_enabled']
        assign ssw_fave_enabled = shop.metafields.ssw['fave_enabled'] | plus: 0
      endif
    %}
    {% if ssw_fave_enabled == 1 %}
      <a class="ssw-link-fave-menu ssw-link-fave-menu-hide-count relative px-2 py-3.5" href="{{ url }}" aria-label="{{ shop.metafields.ssw.lang.my_faves }}">
              <span class="sf__tooltip-item block sf__tooltip-bottom sf__tooltip-style-2">
                <svg class="w-[20px] h-[20px]" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M132.63 64.3763C58.5182 64.3763 -5.69458 119.916 -5.69458 193.305C-5.69458 242.523 15.3091 285.436 43.7206 321.183C72.0662 356.846 108.961 386.907 143.942 411.141C157.326 420.413 171.042 429.091 183.736 435.556C195.394 441.493 210.021 447.624 224 447.624C237.979 447.624 252.606 441.493 264.264 435.556C276.958 429.091 290.674 420.413 304.058 411.141C339.039 386.907 375.934 356.846 404.279 321.183C432.691 285.436 453.695 242.523 453.695 193.305C453.695 119.916 389.482 64.3763 315.37 64.3763C279.322 64.3763 247.583 80.0586 224 100.785C200.417 80.0586 168.678 64.3763 132.63 64.3763ZM47.6047 193.305C47.6047 153.653 83.4612 117.676 132.63 117.676C159.962 117.676 186.225 134.139 202.873 155.792C207.918 162.353 215.724 166.197 224 166.197C232.276 166.197 240.082 162.353 245.127 155.792C261.775 134.139 288.038 117.676 315.37 117.676C364.539 117.676 400.395 153.653 400.395 193.305C400.395 226.662 386.253 258.203 362.554 288.019C338.787 317.921 306.602 344.539 273.706 367.328C261.283 375.935 249.766 383.126 240.076 388.061C234.9 390.697 230.96 392.311 228.161 393.248C225.451 394.156 224.184 394.302 224.017 394.322L224 394.324L223.983 394.322C223.816 394.302 222.549 394.156 219.839 393.248C217.04 392.311 213.1 390.697 207.924 388.061C198.234 383.126 186.717 375.935 174.294 367.328C141.398 344.539 109.213 317.921 85.4458 288.019C61.7475 258.203 47.6047 226.662 47.6047 193.305Z"/></svg>
                <span class="sf__tooltip-content">{{ 'layout.wishlist.title' | t }}</span>
              </span>
        <span class="ssw-counter-fave-menu sf-wishlist-count" style="display:none">0</span>
      </a>
      <script defer>var sswFaveCounterMenuLoaded=true;</script>
    {% endif %}
  {% endif %}
{% else %}
  <a href="{{ url }}" class="{{ box_size | default: 'relative px-2 py-3.5' }}">
    {% if display_by == 'icon' %}
      <span class="sf__tooltip-item block sf__tooltip-bottom sf__tooltip-style-2">
                <svg class="w-[20px] h-[20px]" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M132.63 64.3763C58.5182 64.3763 -5.69458 119.916 -5.69458 193.305C-5.69458 242.523 15.3091 285.436 43.7206 321.183C72.0662 356.846 108.961 386.907 143.942 411.141C157.326 420.413 171.042 429.091 183.736 435.556C195.394 441.493 210.021 447.624 224 447.624C237.979 447.624 252.606 441.493 264.264 435.556C276.958 429.091 290.674 420.413 304.058 411.141C339.039 386.907 375.934 356.846 404.279 321.183C432.691 285.436 453.695 242.523 453.695 193.305C453.695 119.916 389.482 64.3763 315.37 64.3763C279.322 64.3763 247.583 80.0586 224 100.785C200.417 80.0586 168.678 64.3763 132.63 64.3763ZM47.6047 193.305C47.6047 153.653 83.4612 117.676 132.63 117.676C159.962 117.676 186.225 134.139 202.873 155.792C207.918 162.353 215.724 166.197 224 166.197C232.276 166.197 240.082 162.353 245.127 155.792C261.775 134.139 288.038 117.676 315.37 117.676C364.539 117.676 400.395 153.653 400.395 193.305C400.395 226.662 386.253 258.203 362.554 288.019C338.787 317.921 306.602 344.539 273.706 367.328C261.283 375.935 249.766 383.126 240.076 388.061C234.9 390.697 230.96 392.311 228.161 393.248C225.451 394.156 224.184 394.302 224.017 394.322L224 394.324L223.983 394.322C223.816 394.302 222.549 394.156 219.839 393.248C217.04 392.311 213.1 390.697 207.924 388.061C198.234 383.126 186.717 375.935 174.294 367.328C141.398 344.539 109.213 317.921 85.4458 288.019C61.7475 258.203 47.6047 226.662 47.6047 193.305Z"/></svg>
          <span class="sf__tooltip-content">{{ 'layout.wishlist.title' | t }}</span>
      </span>
    {% else %}
      {{ 'layout.wishlist.title' | t }}
    {% endif %}
    <sup class="sf-wishlist-count font-medium"></sup>
  </a>
{% endif %}
