{% liquid
  case type
    when 'wishlist'
      assign icon_name = '<svg class="w-[20px] h-[20px]" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M132.63 64.3763C58.5182 64.3763 -5.69458 119.916 -5.69458 193.305C-5.69458 242.523 15.3091 285.436 43.7206 321.183C72.0662 356.846 108.961 386.907 143.942 411.141C157.326 420.413 171.042 429.091 183.736 435.556C195.394 441.493 210.021 447.624 224 447.624C237.979 447.624 252.606 441.493 264.264 435.556C276.958 429.091 290.674 420.413 304.058 411.141C339.039 386.907 375.934 356.846 404.279 321.183C432.691 285.436 453.695 242.523 453.695 193.305C453.695 119.916 389.482 64.3763 315.37 64.3763C279.322 64.3763 247.583 80.0586 224 100.785C200.417 80.0586 168.678 64.3763 132.63 64.3763ZM47.6047 193.305C47.6047 153.653 83.4612 117.676 132.63 117.676C159.962 117.676 186.225 134.139 202.873 155.792C207.918 162.353 215.724 166.197 224 166.197C232.276 166.197 240.082 162.353 245.127 155.792C261.775 134.139 288.038 117.676 315.37 117.676C364.539 117.676 400.395 153.653 400.395 193.305C400.395 226.662 386.253 258.203 362.554 288.019C338.787 317.921 306.602 344.539 273.706 367.328C261.283 375.935 249.766 383.126 240.076 388.061C234.9 390.697 230.96 392.311 228.161 393.248C225.451 394.156 224.184 394.302 224.017 394.322L224 394.324L223.983 394.322C223.816 394.302 222.549 394.156 219.839 393.248C217.04 392.311 213.1 390.697 207.924 388.061C198.234 383.126 186.717 375.935 174.294 367.328C141.398 344.539 109.213 317.921 85.4458 288.019C61.7475 258.203 47.6047 226.662 47.6047 193.305Z" fill="black" stroke="black" stroke-width="0.832563"/></svg>'
      assign icon_name_active = '<svg class="w-[20px] h-[20px]" fill="currentColor" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg>'
      assign class = 'sf-wishlist__button'
      assign content_class = 'sf-wishlist__button-content'

      assign content = 'products.product.add_to_wishlist' | t
      assign revert_text = 'products.product.remove_from_wishlist' | t

    when 'quickview'
      assign icon_name = '<svg class="w-[20px] h-[20px]" fill="currentColor" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M569.354 231.631C512.969 135.948 407.808 72 288 72 168.14 72 63.004 135.994 6.646 231.63a47.999 47.999 0 0 0 0 48.739C63.032 376.053 168.192 440 288 440c119.86 0 224.996-63.994 281.354-159.631a48.002 48.002 0 0 0 0-48.738zM416 228c0 68.483-57.308 124-128 124s-128-55.517-128-124 57.308-124 128-124 128 55.517 128 124zm125.784 36.123C489.837 352.277 393.865 408 288 408c-106.291 0-202.061-56.105-253.784-143.876a16.006 16.006 0 0 1 0-16.247c29.072-49.333 73.341-90.435 127.66-115.887C140.845 158.191 128 191.568 128 228c0 85.818 71.221 156 160 156 88.77 0 160-70.178 160-156 0-36.411-12.833-69.794-33.875-96.01 53.76 25.189 98.274 66.021 127.66 115.887a16.006 16.006 0 0 1-.001 16.246zM224 224c0-10.897 2.727-21.156 7.53-30.137v.02c0 14.554 11.799 26.353 26.353 26.353 14.554 0 26.353-11.799 26.353-26.353s-11.799-26.353-26.353-26.353h-.02c8.981-4.803 19.24-7.53 30.137-7.53 35.346 0 64 28.654 64 64s-28.654 64-64 64-64-28.654-64-64z"/></svg>'
      assign class = 'sf-pqv__button'
      assign content_class = ''

      assign content = 'products.product.quick_view' | t

    when 'compare'
      assign icon_name = '<svg class="w-[20px] h-[20px]" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M164 384h-44V48a16 16 0 0 0-16-16H88a16 16 0 0 0-16 16v336H28a12 12 0 0 0-8.73 20.24l68 72a12 12 0 0 0 17.44 0l68-72A12 12 0 0 0 164 384zm200.72-276.24l-68-72a12 12 0 0 0-17.44 0l-68 72A12 12 0 0 0 220 128h44v336a16 16 0 0 0 16 16h16a16 16 0 0 0 16-16V128h44a12 12 0 0 0 8.72-20.24z" class=""></path></svg>'
      assign icon_name_active = '<svg class="w-[20px] h-[20px]" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 168v-16c0-13.255 10.745-24 24-24h360V80c0-21.367 25.899-32.042 40.971-16.971l80 80c9.372 9.373 9.372 24.569 0 33.941l-80 80C409.956 271.982 384 261.456 384 240v-48H24c-13.255 0-24-10.745-24-24zm488 152H128v-48c0-21.314-25.862-32.08-40.971-16.971l-80 80c-9.372 9.373-9.372 24.569 0 33.941l80 80C102.057 463.997 128 453.437 128 432v-48h360c13.255 0 24-10.745 24-24v-16c0-13.255-10.745-24-24-24z"/></svg>'
      assign class = 'sf-prod-compare__button'
      assign content_class = 'sf-prod-compare__button-content'

      assign content = 'products.product.add_to_compare' | t
      assign revert_text = 'products.product.remove_from_compare' | t

    when 'remove-from-compare'
      assign icon_name = '<svg class="w-[20px] h-[20px]" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>'
      assign class = 'sf-prod-compare__remove'
      assign content_class = ''

      assign content = 'products.product.remove_from_compare' | t

    when 'zoom-in'
      assign icon_name = '<svg class="w-[20px] h-[20px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" stroke="currentColor"><path d="M319.8 204v8c0 6.6-5.4 12-12 12h-84v84c0 6.6-5.4 12-12 12h-8c-6.6 0-12-5.4-12-12v-84h-84c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h84v-84c0-6.6 5.4-12 12-12h8c6.6 0 12 5.4 12 12v84h84c6.6 0 12 5.4 12 12zm188.5 293L497 508.3c-4.7 4.7-12.3 4.7-17 0l-129-129c-2.3-2.3-3.5-5.3-3.5-8.5v-8.5C310.6 395.7 261.7 416 208 416 93.8 416 1.5 324.9 0 210.7-1.5 93.7 93.7-1.5 210.7 0 324.9 1.5 416 93.8 416 208c0 53.7-20.3 102.6-53.7 139.5h8.5c3.2 0 6.2 1.3 8.5 3.5l129 129c4.7 4.7 4.7 12.3 0 17zM384 208c0-97.3-78.7-176-176-176S32 110.7 32 208s78.7 176 176 176 176-78.7 176-176z"/></svg>'
      assign class = 'sf-prod-media__zoom-in'
      assign content_class = ''

      assign content = 'products.product.zoom_in' | t

    when 'add-to-cart'
      capture content
        render 'new-locale', key: 'products.product.select_options'
      endcapture

      if product.has_only_default_variant
        assign class = 'add-to-cart'
        capture content
          render 'new-locale', key: 'products.product.add_to_cart'
        endcapture
      endif

      if is_preorder == "true"
        capture content
          render 'new-locale', key: 'products.product.preorder'
        endcapture
      endif

      if product.has_only_default_variant == false and settings.select_option_button_action == 'popup'
        assign class = 'sf-pqv__button'
      endif

      unless product.available
        assign class = class | append: ' disabled'
      endunless
    else
      assign icon_name = 'star'
      assign class = 'hidden'
      assign content_class = 'hidden'

      capture content
        render 'new-locale', key: 'general.tooltip.not_found'
      endcapture
  endcase

  assign variant_id = product.first_available_variant.id
  assign selected_variant_id = ''
  if section.settings.change_product_variant_on_fitlering
    assign variant_id = product.selected_or_first_available_variant.id
    assign selected_variant_id = product.selected_variant.id
  endif

%}
{% if type == 'add-to-cart' %}
  <product-form class="f-product-form product-form form" data-product-id="{{ product.id }}">
    {%-
      form 'product', product,
      id: product_form_id,
      class: 'product-card-form',
      novalidate: 'novalidate'
    -%}
      <input type="hidden" name="id" value="{{ variant_id }}" data-selected-variant="{{ selected_variant_id }}">
      <button
        class="sf__tooltip-item sf__btn-icon {{ class }} {{ class_name | default: 'sf__tooltip-left' }} sf__tooltip-style-{{ style | default: '1' }}"
        data-product-handle="{{ product.handle }}"
        name="add"
      >
        {% if settings.select_option_button_action == 'popup' %}
          <span class="sf__tooltip-icon quick-add" data-product-handle="{{ product.handle }}">
            {% if product.has_only_default_variant %}
              <span class="atc-spinner inset-0 absolute items-center justify-center">
                <svg class="animate-spin w-[20px] h-[20px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                  <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                  <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
              </span>
              <span>
              <svg class="w-[20px] h-[20px]" fill="currentColor" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">  <path d="M408.037 92.4226H97.1502L72.2009 47.7024C67.9729 40.1238 59.9743 35.427 51.296 35.427H17.0987C3.878 35.427 -6.83948 46.1445 -6.83948 59.3652C-6.83948 72.5858 3.878 83.3033 17.0987 83.3033H37.2395L61.6951 127.139L122.814 262.371L122.877 262.509L126.389 270.281L68.03 332.531C61.8409 339.132 59.9035 348.66 63.0228 357.155C66.1422 365.649 73.785 371.659 82.7757 372.686L138.817 379.091C209.43 387.161 280.733 387.161 351.346 379.091L407.387 372.686C420.523 371.185 429.954 359.32 428.453 346.185C426.951 333.05 415.086 323.618 401.951 325.12L345.91 331.524C278.909 339.182 211.254 339.182 144.253 331.524L135.533 330.528L170.298 293.446L183.859 295.21C208.381 298.401 233.169 299.027 257.82 297.077C316.032 292.473 369.983 264.773 407.649 220.152L420.828 204.539C421.448 203.805 422.023 203.034 422.549 202.231L447.112 164.8C467.506 133.72 445.211 92.4226 408.037 92.4226ZM169.733 245.092C168.299 244.906 167.062 243.996 166.456 242.686L166.453 242.679L166.441 242.653L166.432 242.632L120.182 140.299H405.925L383.313 174.759L371.064 189.27C341.646 224.12 299.51 245.754 254.045 249.35C232.711 251.037 211.259 250.496 190.037 247.734L169.733 245.092ZM119.691 394.499C97.0268 394.499 78.654 412.872 78.654 435.536C78.654 458.2 97.0268 476.573 119.691 476.573C142.355 476.573 160.728 458.2 160.728 435.536C160.728 412.872 142.355 394.499 119.691 394.499ZM370.471 394.499C347.807 394.499 329.435 412.872 329.435 435.536C329.435 458.2 347.807 476.573 370.471 476.573C393.135 476.573 411.508 458.2 411.508 435.536C411.508 412.872 393.135 394.499 370.471 394.499Z"/></svg>
              </span>
            {% else %}
              <svg class="w-[20px] h-[20px]" fill="currentColor" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">  <path d="M408.037 92.4226H97.1502L72.2009 47.7024C67.9729 40.1238 59.9743 35.427 51.296 35.427H17.0987C3.878 35.427 -6.83948 46.1445 -6.83948 59.3652C-6.83948 72.5858 3.878 83.3033 17.0987 83.3033H37.2395L61.6951 127.139L122.814 262.371L122.877 262.509L126.389 270.281L68.03 332.531C61.8409 339.132 59.9035 348.66 63.0228 357.155C66.1422 365.649 73.785 371.659 82.7757 372.686L138.817 379.091C209.43 387.161 280.733 387.161 351.346 379.091L407.387 372.686C420.523 371.185 429.954 359.32 428.453 346.185C426.951 333.05 415.086 323.618 401.951 325.12L345.91 331.524C278.909 339.182 211.254 339.182 144.253 331.524L135.533 330.528L170.298 293.446L183.859 295.21C208.381 298.401 233.169 299.027 257.82 297.077C316.032 292.473 369.983 264.773 407.649 220.152L420.828 204.539C421.448 203.805 422.023 203.034 422.549 202.231L447.112 164.8C467.506 133.72 445.211 92.4226 408.037 92.4226ZM169.733 245.092C168.299 244.906 167.062 243.996 166.456 242.686L166.453 242.679L166.441 242.653L166.432 242.632L120.182 140.299H405.925L383.313 174.759L371.064 189.27C341.646 224.12 299.51 245.754 254.045 249.35C232.711 251.037 211.259 250.496 190.037 247.734L169.733 245.092ZM119.691 394.499C97.0268 394.499 78.654 412.872 78.654 435.536C78.654 458.2 97.0268 476.573 119.691 476.573C142.355 476.573 160.728 458.2 160.728 435.536C160.728 412.872 142.355 394.499 119.691 394.499ZM370.471 394.499C347.807 394.499 329.435 412.872 329.435 435.536C329.435 458.2 347.807 476.573 370.471 476.573C393.135 476.573 411.508 458.2 411.508 435.536C411.508 412.872 393.135 394.499 370.471 394.499Z"/></svg>
            {% endif %}
          </span>
        {% else %}
          <a class="sf__tooltip-icon" href="{{ product.url }}">
            {% if product.has_only_default_variant %}
              <span class="atc-spinner inset-0 absolute items-center justify-center">
                <svg class="animate-spin w-[20px] h-[20px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                  <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                  <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
              </span>
              <span>
              <svg class="w-[20px] h-[20px]" fill="currentColor" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">  <path d="M408.037 92.4226H97.1502L72.2009 47.7024C67.9729 40.1238 59.9743 35.427 51.296 35.427H17.0987C3.878 35.427 -6.83948 46.1445 -6.83948 59.3652C-6.83948 72.5858 3.878 83.3033 17.0987 83.3033H37.2395L61.6951 127.139L122.814 262.371L122.877 262.509L126.389 270.281L68.03 332.531C61.8409 339.132 59.9035 348.66 63.0228 357.155C66.1422 365.649 73.785 371.659 82.7757 372.686L138.817 379.091C209.43 387.161 280.733 387.161 351.346 379.091L407.387 372.686C420.523 371.185 429.954 359.32 428.453 346.185C426.951 333.05 415.086 323.618 401.951 325.12L345.91 331.524C278.909 339.182 211.254 339.182 144.253 331.524L135.533 330.528L170.298 293.446L183.859 295.21C208.381 298.401 233.169 299.027 257.82 297.077C316.032 292.473 369.983 264.773 407.649 220.152L420.828 204.539C421.448 203.805 422.023 203.034 422.549 202.231L447.112 164.8C467.506 133.72 445.211 92.4226 408.037 92.4226ZM169.733 245.092C168.299 244.906 167.062 243.996 166.456 242.686L166.453 242.679L166.441 242.653L166.432 242.632L120.182 140.299H405.925L383.313 174.759L371.064 189.27C341.646 224.12 299.51 245.754 254.045 249.35C232.711 251.037 211.259 250.496 190.037 247.734L169.733 245.092ZM119.691 394.499C97.0268 394.499 78.654 412.872 78.654 435.536C78.654 458.2 97.0268 476.573 119.691 476.573C142.355 476.573 160.728 458.2 160.728 435.536C160.728 412.872 142.355 394.499 119.691 394.499ZM370.471 394.499C347.807 394.499 329.435 412.872 329.435 435.536C329.435 458.2 347.807 476.573 370.471 476.573C393.135 476.573 411.508 458.2 411.508 435.536C411.508 412.872 393.135 394.499 370.471 394.499Z"/></svg>
              </span>
            {% else %}
              <svg class="w-[20px] h-[20px]" fill="currentColor" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">  <path d="M408.037 92.4226H97.1502L72.2009 47.7024C67.9729 40.1238 59.9743 35.427 51.296 35.427H17.0987C3.878 35.427 -6.83948 46.1445 -6.83948 59.3652C-6.83948 72.5858 3.878 83.3033 17.0987 83.3033H37.2395L61.6951 127.139L122.814 262.371L122.877 262.509L126.389 270.281L68.03 332.531C61.8409 339.132 59.9035 348.66 63.0228 357.155C66.1422 365.649 73.785 371.659 82.7757 372.686L138.817 379.091C209.43 387.161 280.733 387.161 351.346 379.091L407.387 372.686C420.523 371.185 429.954 359.32 428.453 346.185C426.951 333.05 415.086 323.618 401.951 325.12L345.91 331.524C278.909 339.182 211.254 339.182 144.253 331.524L135.533 330.528L170.298 293.446L183.859 295.21C208.381 298.401 233.169 299.027 257.82 297.077C316.032 292.473 369.983 264.773 407.649 220.152L420.828 204.539C421.448 203.805 422.023 203.034 422.549 202.231L447.112 164.8C467.506 133.72 445.211 92.4226 408.037 92.4226ZM169.733 245.092C168.299 244.906 167.062 243.996 166.456 242.686L166.453 242.679L166.441 242.653L166.432 242.632L120.182 140.299H405.925L383.313 174.759L371.064 189.27C341.646 224.12 299.51 245.754 254.045 249.35C232.711 251.037 211.259 250.496 190.037 247.734L169.733 245.092ZM119.691 394.499C97.0268 394.499 78.654 412.872 78.654 435.536C78.654 458.2 97.0268 476.573 119.691 476.573C142.355 476.573 160.728 458.2 160.728 435.536C160.728 412.872 142.355 394.499 119.691 394.499ZM370.471 394.499C347.807 394.499 329.435 412.872 329.435 435.536C329.435 458.2 347.807 476.573 370.471 476.573C393.135 476.573 411.508 458.2 411.508 435.536C411.508 412.872 393.135 394.499 370.471 394.499Z"/></svg>
            {% endif %}
          </a>
        {% endif %}
        {%- if style == 2 -%}
          <span class="sf__tooltip-icon-active">
            {{ icon_name_active }}
          </span>
        {%- endif -%}
        <span class="sf__tooltip-content {{ content_class }}" data-revert-text="{{ revert_text | default: '' }}">
          {{ content }}
        </span>
      </button>
    {%- endform -%}
  </product-form>
{% else %}
  <button
    class="sf__tooltip-item sf__btn-icon {{ class }} {{ class_name | default: 'sf__tooltip-left' }} sf__tooltip-style-{{ style | default: '1' }}"
    type="button"
    data-product-handle="{{ product.handle }}"
  >
    <span class="sf__tooltip-icon block">
      {{ icon_name }}
    </span>
    {%- if style == 2 -%}
      <span class="sf__tooltip-icon-active">
        {{ icon_name_active }}
      </span>
    {%- endif -%}
    <span class="sf__tooltip-content {{ content_class }}" data-revert-text="{{ revert_text | default: '' }}">
      {{ content }}
    </span>
  </button>
{% endif %}
